# Ignore everything in the Assets folder
Assets/*

# But not the _Project file or folder
!Assets/_Project
!Assets/Settings

# Unity-generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider-generated
.vs/
.vscode/
.idea/
*.userprefs
*.sln.docstates